<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/crtCourse.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
                <ul class="navbar">
                   
                    <a href="https://dashboard.heroku.com/apps/crm-exam-app/deploy/github/creatCourse" class="navLink">
                        <li class="navbar__item">
                            Courses
                        </li>
                    </a>
                   
                    <a href="https://dashboard.heroku.com/apps/crm-exam-app/deploy/github/creatTeacher" class="navLink">
                        <li class="navbar__item">
                            Teachers
                        </li>
                    </a>
                   
                    <a href="https://dashboard.heroku.com/apps/crm-exam-app/deploy/github/creatGroup" class="navLink">
                        <li class="navbar__item">
                            Groups
                        </li>
                    </a>
                    <a href="https://dashboard.heroku.com/apps/crm-exam-app/deploy/github/creatStudent" class="navLink">
                        <li class="navbar__item">
                            Students
                        </li>
                    </a>
                </ul>

                <div class="center">
                    <div class="center__header">
                        <h2 class="heading">Students</h2>
                        <button type="submit" class="addbtn" id="addBtn">Add students</button>
                        <div id="modal" class="modal">
                            <div class="modal__content">
                                <span class="close">x</span>
                                <h3 class="modal__title">Add student</h3>
                                <form action="/creatStudent" class="form" enctype="application/x-www-form-urlencoded" method="POST">
                                    <input type="text" name="name"  class="input" placeholder="Name" required>
                                    <input type="text" name="surname" class="input" placeholder="Surname" required>
                                    <input type="number" name="age" placeholder="Age" class="input" required>
                                    <input type="number" name="phoneNumber" placeholder="Phone number" class="input" required>
                
                                    <label  for="courseName">Course name:</label>
                                    <select name="courseName" id="courseNameSelectStudent" required>
                                        <% allCourses.map ( e => { %> 
                                            <option selected  value=<%=e.courseName%>><%= e.courseName%></option>
                                        <% }) %> 
                                    </select>
                

                                   <div class="input_wrapper">
                                        <label  for="groupName">Group name:</label>
                                        <select name="groupName" id="groupNameSelectStudent" required>
                                        
                                        </select>
                                   </div>
                                    <button class="addBtn" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="students">
                        <% for(let i of allStudents){ %>
                            <div class="students__item">
                                <h5 class="students__name">Name: <%= i.name %></h5>
                                <h5 class="students__surname">Surname: <%= i.surname %></h5>
                                <h5 class="students__age">Age: <%= i.age %></h5>
                                <h5 class="students__phone">Phone: <%= i.phoneNumber%></h5>
                                <h5 class="students__course">Course name: <%= i.courseName %></h5>
                                <h5 class="students__group">Group name: <%= i.groupName %></h5>
                            </div>
                        <% } %>
                    </div>

                </div>
            
            
        </div> <!--end of wrapper-->
    </div><!--end of container-->
    <script src="../public/js/student.js"></script>
</body>
</html>